# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# NDK Compile Dirs
libs/
obj/

# Android Directories
gen/
out/
.idea
*.iml

# iptables autogen files
external/iptables/extensions/gen_initext4.c
